<main>
    <section class="contact">
        <h1 class="title">Contact us</h1>
        <p class="desc">
            Write us a message regarding your general concerns, 
            advertising and inquries if you wish so, and we'll do our 
            best to get back to you</p>
        <form action="">
            <div class="inputField">
                <label for="name">Name</label>
                <input type="text" name="name">
            </div>
            <div class="inputField">
                <label for="email">Email</label>
                <input type="text" name="name">
            </div>
            <div class="inputField">
                <label for="title">Title</label>
                <input type="text" name="name">
            </div>
            <div class="inputField">
                <label for="message">Message</label>
                <textarea name="message" id="" cols="30" rows="10"></textarea>
            </div>

            
        </form>
        <button class="submit">Submit</button>

    </section>
</main>
