<main>
    <section class="section1">
        <h1>Newsletter</h1>
        <p>Get information about our newest additions when they come up</p>
        <div class="inputField">
            <input type="text">
            <button>Sign</button>
        </div>        
    </section>  
    <section class="section2">
        <div>Terms</div>
        <div>Cookie policy</div>
        <div>Returns</div>
        <div>FAQ</div>
        <div></div>
    </section>
  
    <section class="section3">
        <h1>Follow us!</h1>
        <a href="">Our blog</a>
        <span>Or...</span>
        <div>Instagram</div>
        <div>Facebook</div>
        <div>Pintrest</div>
        
    </section>
</main>